<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <nav class="navSize">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Blog", "#" %></li>
        <li><%= link_to "Projects", "#" %></li>
      </ul>
    </nav>
  </header>
  <div class="center">
    <h1>Anthony Orn</h1>
    <div>
      <%= image_tag("anton.jpg", alt: "Anton's Profile Picture", size: "150") %>
    </div>

    <h2>Welcome to my Web Page!</h2>
    <h3>This is a website created by Ruby on Rails as a personal project.</h3>
    <h3>It includes a blog and and a list of projects that I have completed (though there are currently none at the moment).</h3>
    <br>
    <h4>A Bit About Me</h4>
    <p>Hi guys! My name is Anthony, and I am currently studying Software Engineering at RMIT University Melbourne.</p>
    <p>I created this web page as a place for me to practise my web application development, as well as to write down my adventures as a developer.</p>
    <p>I have experience with Ruby (and Ruby on Rails), HTML, PHP, CSS, Javascript, SQL, Java, and C.</p>
    <br>
    <p>Before taking on software engineering, I had completed a bachelor's degree in Psychology.  It's currently a piece of paper hung up on my bedroom wall looking pretty (and nothing else).</p>
    <p>If there is spare time, I like to play games.  Though I don't play as much as I used to, I enjoy playing Starcraft II</p>
    <p>I also play badminton, which I play casually with friends.</p>


  </div>

</body
