#postTitle {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
#date {
  font-style: italic;
  font-size: 16px;
  text-align: center;
}

#content {
  font-size: 20px;
}

#container {
  padding: 20px;
}

#allPosts {
  width: 80%;
  margin: auto;
}

#newPostButton {
  padding: 25px;
  text-align: center;
}
